# Machine Learning Foundation

## Section 1, Part b: Reading Data Lab

In [31]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd
import sqlalchemy as sqa

## Lab Exercise: Reading in database files

 - Create a variable, `path`, containing the path to the `baseball.db` contained in `resources/`
 - Create a connection, `con`, that is connected to database at `path`
 - Create a variable, `query`, containing a SQL query which reads in all data from the `allstarfull` table
 - Create a variable, `observations`, by using pandas' [read_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html)

### Optional
 - Create a variable, `tables`, which reads in all data from the table `sqlite_master`
 - Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players.

In [2]:
path = 'data/baseball.db'
con = sq3.connect(path)

In [3]:
query = '''
SELECT * FROM allstarfull;
'''
obs = pds.read_sql(query, con, coerce_float=True)

In [13]:
q2 = '''select allstarfull.playerID, AVG(batting.G) as score
FROM allstarfull
inner join batting on batting.playerID=allstarfull.playerID
GROUP BY allstarfull.playerID
ORDER BY score desc
'''
players = pds.read_sql(q2,con)
print(players.head())

    playerID       score
0   canoro01  154.000000
1  herreod01  153.000000
2  bryankr01  153.000000
3  abreujo02  152.666667
4  andruel01  152.625000

In [32]:
dat = pd.read_csv?
dat

     63.03 22.55 39.61 40.48 98.67 -0.25 AB
0       39.06 10.06 25.02 29 114.41 4.56 AB
1  68.83 22.22 50.09 46.61 105.99 -3.53 AB

---
### Machine Learning Foundation (C) 2020 IBM Corporation